Checks: >-
  -*,
  boost*
  bugprone*,
  -bugprone-suspicious-include,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-switch-missing-default-case,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  google-readability-*,
  -google-readability-todo,
  misc*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-use-bool-literals,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-default-member-init,
  performance*,
  readability*,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-avoid-const-params-in-decls,
  -readability-convert-member-functions-to-static,
  -readability-inconsistent-declaration-parameter-name,
WarningsAsErrors: >-
  clang-analyzer-*,
  clang-diagnostic-*,
  hicpp-*,
  performance-*,
  readability-identifier-naming
UseColor: true
